.tech {
    width: 50vw;
}

.developer {
    margin-bottom: 10px;

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {
    height: 50px;
    margin-bottom: 10px;
}