.radio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.options {
}
