.container {
    width: 500px;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.number {
    display: block;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: bold;
    font-size: large;
    width: 10px;
}
